html {
	font-family: Arial, Helvetica, sans-serif;
	--shadow-color: rgba(0, 0, 0, 0.6);
	--bg: #252331;
	--color-text: #FFF;
	--bg-principal: #056162;
	--bg-secondary: #343145;
	--bg-date: #065051;
}

body{
	transition: all 0.2s ease 0s;
	background-color: var(--bg);
	margin: 0;
	
}

#chat, .buttonWrap{
	padding: 0 15px 0 15px;
}

.date {
	clear: both;
	position: relative;
	margin: 0 auto;
	text-align: center;
	background-color: var(--bg-date);
	border-radius: 10px;
	width: 80px;
	height: 40px;
	-moz-box-shadow: 0 0 5px var(--shadow-color);
	-webkit-box-shadow: 0 0 5px var(--shadow-color);
	-o-box-shadow: 0 0 5px var(--shadow-color);
	box-shadow: 0 0 5px var(--shadow-color);
}

p, label{
	color: var(--color-text);
}

input{
	background-color: var(--bg-secondary);
	color: var(--color-text);
	border: none;
	border-radius: 10px;
	height: 30px;
	text-align: center;
	font-size: 15px;

}

.newButton, #buttonView{
	display: inline-block;
	padding: 8px 12px; 
	cursor: pointer;
	border-radius: 10px;
	background-color: #3b3750;
	font-size: 16px;
	color: var(--color-text);
	border: none;
	text-align: center;
}

.newButton{
	width: 60px;
}

input[type="file"] {
	position: absolute;
	z-index: -1;
	top: 3px;
	left: 15px;
}

.buttonWrap {
	position: relative;
}

.date p {
	top: 50%;
	position: relative;
	transform: translateY(-50%);
}

.container {
	max-width: 1024px;
	margin: 2px;
	width: 100%;
	left: 50%;
	top: 50px;
	position: relative;
	transform: translate(-50%);
	padding: 1em;
}

.principal,
.secondary {
	max-width: 80%;
	clear: both;
	position: relative;
	border-radius: 20px;
	word-wrap: break-word;
	padding: 0.5px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-right: 10px;
	padding-left: 10px;
	-moz-box-shadow: 0 0 5px var(--shadow-color);
	-webkit-box-shadow: 0 0 5px var(--shadow-color);
	-o-box-shadow: 0 0 5px var(--shadow-color);
	box-shadow: 0 0 5px var(--shadow-color);
}

.principal {
	float: right;
	text-align: right;
	background-color:var(--bg-principal);
	margin-left: auto;
}

.secondary {
	float: left;
	text-align: left;
	background-color: var(--bg-secondary);
}

#hour {
	font-size: 9pt;
}

#person {
	font-style: italic;
	font-weight: bold;
}

#loadContainer{
	margin: 0;
	padding: 0;
	background-color: #14131b;
	height: 100%;
	width: 100%;
	position: fixed;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 10000;
	top: 0;
}

#loadIcon{
	border: 15px solid #ccc;
	border-top-color: #065051;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	-webkit-animation: rotate 1.5s linear infinite;
	-o-animation: rotate 1.5s linear infinite;
	animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}